@import "../../../common/colors.scss";

.skill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: -25px;
}

.tech-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 90%;
    font-weight: bold;
    .icon {
        width: 39px;
        aspect-ratio: 1/1;
    }
    .faicon {
        width: 50px;
        aspect-ratio: 1/1;
    }

    filter: drop-shadow(3px 4px 2px $tetriary-color);
}

.tech-header {
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
}



