@import "../../common/colors.scss";

.main {
    // border: 2px solid white;
    display: flex;
    flex-direction: column;
    // margin: 10vh 5% 0 5%;
    color: $font-primary;
}

.main-left {
    align-self: flex-start;
    width: 750px;
    @media(max-width: 900px){
        width: 100%;
        }}

.main-right {
    align-self: flex-end;
    width: 750px;
    @media(max-width: 900px){
        width: 100%;
        }
    
}