@import "./common/colors.scss";
@import "./common/proportions.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: $font-primary;
}

body {
  background: $font-primary;
  background-color: $primary-color;
}

.container {
  height: $body-height;
  display: flex;
  height: 100 vh;
  margin-top: $header-height;
}

.app-left {
  flex: $left-flex;
}

.app-middle {
  flex: $middle-flex;
}

.app-right {
  flex: $right-flex;
}

.header {
  position: fixed;
  top: 0;
  border: 2px solid purple;
  width: 100%;
  height: $header-height;
} 