$primary-color: rgba(33, 37, 41, 1);
$secondary-color: #28104e;
$tetriary-color: #6237a0;
$font-primary: #ffffff;
$font-secondary: rgba(255, 255, 255, 0.55);
$hover-color: #590a8b;
$tetriary-transparent: rgb(89, 10, 91, 0.5);

// #590a5b;