$primary-color: rgba(33, 37, 41, 1);
$secondary-color: #3b036e;
$tetriary-color: #590a5b;
$font-primary: #ffffff;
$font-secondary: #79b8f3;
$hover-color: #590a8b;
$tetriary-transparent: rgb(89, 10, 91, 0.5);